*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background:#333;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* .container{
  display: flex;
  flex-direction: column;
} */

header{
  height:80px;
  background:#f2f2f2;
  display:flex;
  justify-content: center;
  align-items: center;
}

header h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:2rem;
  text-shadow: 3px 2px 2px rgba(255, 255, 255, 0.9);

}

.cont{
  width:80%;
  margin:0 auto;
}
.main{
  color:#fff;
  margin-top:1rem;
}

.apps-cont{
  display:grid;
  grid-template-columns: repeat(4,1fr);
}

.app{
  border:1px solid #fff;
  margin:1rem;
  width:300px;
  height:450px;
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.7);
  box-shadow: 2px 3px 2px 2px rgba(0,0,0,0.3);
  padding:0.5rem;
}

img{
  width:100%;
}

.title{
  text-align: center;
  margin:0.4rem;
  font-size:1.7rem;
}

.app-info{
  margin:1rem;
  font-size:1.3rem;

}

.app-info h5{
  padding:0.3rem;
}


footer{
  height:80px;
  background:#f2f2f2;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:2rem;
  text-shadow: 3px 2px 2px rgba(255, 255, 255, 0.9);
  position:absolute;
  bottom:0;
  width:100vw;
}